.main {
  border-radius: 30px;
  height: 850px;
  background-color: #fff;
}
.wrap {
  max-width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  .nav {
    width: 550px;
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    input {
      width: 220px;
      height: 35px;
      padding-left: 20px;
      border: solid 1px #b5c6d8;
      border-radius: 20px;
      font-size: 16px;
      outline: none;
      &::placeholder {
        font-style: italic;
      }
    }
    .icons {
      max-width: 200px;
      display: flex;
      border-radius: 50px;
      padding: 5px 15px 5px 10px;
      color: #5d6d7c;
      align-items: center;
      background-color: #f3f3f3;
      cursor: pointer;
      div {
        margin-left: 10px;
      }
      svg {
        font-size: 20px;
        padding-top: 4px;
      }
    }
    span {
      .icons {
        background-color: #0787c9;
        color: #fff;
      }
    }
  }
  .options div {
    font-size: 18px;
    font-weight: 450;
  }
}
.filters {
  max-width: 100%;
  margin-left: 20px;
  .staff-list {
    width: 500px;
    display: flex;
    justify-content: space-between;
    color: #5d6d7c;
    font-family: "PT Sans", sans-serif;
    font-weight: 600;

    div {
      width: 120px;
      cursor: pointer;
      padding-bottom: 10px;
      border-bottom: 2px solid #fff;
      text-align: center;
      &:hover {
        border-bottom: 2px solid #0787c9;
      }
    }
  }
  .wall {
    border-bottom: 17px solid #f1f1f1;
    margin-right: 20px;
  }
  .filt {
    max-width: 100%;
    background-color: #f2f6fa;
    padding: 10px;
    margin-right: 20px;
  }
  nav {
    width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    li {
      cursor: pointer;
    }
    span {
      width: 130px;
      display: flex;
      justify-content: space-between;
    }
  }
}
.recordings {
    margin: 20px 0;
    font-size: 14px;
    color: #5d6d7c;
}