.auth{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .box{
    width: 600px;
    padding: 30px;
    margin: auto;
  }
  .h2{
    text-align: center;
  }
  .btn{
    width: 100px;
    margin-top: 20px;
  }
}
